In [9]:
import numpy as np

In [10]:
import pandas as pd

In [11]:
dataset = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)
dataset

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.600000,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.500000,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.000000,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.700000,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.000000,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.400000,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.500000,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.300000,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.600000,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.900000,3,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.400000,3,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.100000,2,0,0,0,0,1,0
12,13,48,23,114,93106,2,3.800000,3,0,0,1,0,0,0
13,14,59,32,40,94920,4,2.500000,2,0,0,0,0,1,0
14,15,67,41,112,91741,1,2.000000,1,0,0,1,0,0,0
15,16,60,30,22,95054,1,1.500000,3,0,0,0,0,1,1
16,17,38,14,130,95010,4,4.700000,3,134,1,0,0,0,0
17,18,42,18,81,94305,4,2.400000,1,0,0,0,0,0,0
18,19,46,21,193,91604,2,8.100000,3,0,1,0,0,0,0
19,20,55,28,21,94720,1,0.500000,2,0,0,1,0,0,1
20,21,56,31,25,94015,4,0.900000,2,111,0,0,0,1,0
21,22,57,27,63,90095,3,2.000000,3,0,0,0,0,1,0
22,23,29,5,62,90277,1,1.200000,1,260,0,0,0,1,0
23,24,44,18,43,91320,2,0.700000,1,163,0,1,0,0,0
24,25,36,11,152,95521,2,3.900000,1,159,0,0,0,0,1
25,26,43,19,29,94305,3,0.500000,1,97,0,0,0,1,0
26,27,40,16,83,95064,4,0.200000,3,0,0,0,0,0,0
27,28,46,20,158,90064,1,2.400000,1,0,0,0,0,1,1
28,29,56,30,48,94539,1,2.200000,3,0,0,0,0,1,1
29,30,38,13,119,94104,1,3.300000,2,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4971,37,13,95,95821,2,1.700000,2,0,0,0,0,0,1
4971,4972,58,28,73,90024,1,1.400000,3,0,0,1,0,0,0
4972,4973,58,32,41,93401,3,2.200000,3,148,0,0,0,1,1
4973,4974,31,1,68,95045,4,4.000000,3,0,0,0,0,1,0
4974,4975,59,33,64,92867,4,1.700000,2,0,0,0,0,0,1
4975,4976,38,11,29,95207,4,1.000000,2,0,0,0,0,1,0
4976,4977,29,5,31,95039,1,1.800000,2,0,0,0,0,1,1
4977,4978,40,15,54,90266,3,0.800000,3,0,0,0,0,1,0
4978,4979,57,27,63,90210,4,2.000000,3,0,0,0,0,1,0
4979,4980,50,26,92,90740,1,2.600000,2,213,0,0,0,0,1
4980,4981,29,5,135,95762,3,5.300000,1,0,1,0,1,1,1
4981,4982,34,9,195,90266,2,3.000000,1,122,0,0,0,1,0
4982,4983,36,10,45,95126,4,0.200000,1,0,0,0,0,0,1
4983,4984,51,26,72,95370,1,2.900000,1,0,0,0,0,0,0
4984,4985,27,1,98,94043,4,2.300000,3,0,0,0,0,0,1
4985,4986,48,23,30,94720,3,1.700000,2,162,0,0,0,1,0
4986,4987,32,6,78,95825,1,2.900000,3,0,0,0,0,0,0
4987,4988,48,23,43,93943,3,1.700000,2,159,0,0,0,1,0
4988,4989,34,8,85,95134,1,2.500000,1,136,0,0,0,0,1
4989,4990,24,0,38,93555,1,1.000000,3,0,0,0,0,1,0
4990,4991,55,25,58,95023,4,2.000000,3,219,0,0,0,0,1
4991,4992,51,25,92,91330,1,1.900000,2,100,0,0,0,0,1
4992,4993,30,5,13,90037,4,0.500000,3,0,0,0,0,0,0
4993,4994,45,21,218,91801,2,6.666667,1,0,0,0,0,1,0
4994,4995,64,40,75,94588,3,2.000000,3,0,0,0,0,1,0
4995,4996,29,3,40,92697,1,1.900000,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.400000,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.300000,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.500000,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.800000,1,0,0,0,0,1,1

In [12]:
dataset.isnull().any()

ID                    False
Age                   False
Experience            False
Income                False
ZIP Code              False
Family                False
CCAvg                 False
Education             False
Mortgage              False
Personal Loan         False
Securities Account    False
CD Account            False
Online                False
CreditCard            False
dtype: bool

In [13]:
dataset.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937913,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747666,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
ID                    5000 non-null int64
Age                   5000 non-null int64
Experience            5000 non-null int64
Income                5000 non-null int64
ZIP Code              5000 non-null int64
Family                5000 non-null int64
CCAvg                 5000 non-null float64
Education             5000 non-null int64
Mortgage              5000 non-null int64
Personal Loan         5000 non-null int64
Securities Account    5000 non-null int64
CD Account            5000 non-null int64
Online                5000 non-null int64
CreditCard            5000 non-null int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [15]:
df=dataset.drop(['ID','ZIP Code'],axis=1)
df

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.600000,1,0,0,1,0,0,0
1,45,19,34,3,1.500000,1,0,0,1,0,0,0
2,39,15,11,1,1.000000,1,0,0,0,0,0,0
3,35,9,100,1,2.700000,2,0,0,0,0,0,0
4,35,8,45,4,1.000000,2,0,0,0,0,0,1
5,37,13,29,4,0.400000,2,155,0,0,0,1,0
6,53,27,72,2,1.500000,2,0,0,0,0,1,0
7,50,24,22,1,0.300000,3,0,0,0,0,0,1
8,35,10,81,3,0.600000,2,104,0,0,0,1,0
9,34,9,180,1,8.900000,3,0,1,0,0,0,0
10,65,39,105,4,2.400000,3,0,0,0,0,0,0
11,29,5,45,3,0.100000,2,0,0,0,0,1,0
12,48,23,114,2,3.800000,3,0,0,1,0,0,0
13,59,32,40,4,2.500000,2,0,0,0,0,1,0
14,67,41,112,1,2.000000,1,0,0,1,0,0,0
15,60,30,22,1,1.500000,3,0,0,0,0,1,1
16,38,14,130,4,4.700000,3,134,1,0,0,0,0
17,42,18,81,4,2.400000,1,0,0,0,0,0,0
18,46,21,193,2,8.100000,3,0,1,0,0,0,0
19,55,28,21,1,0.500000,2,0,0,1,0,0,1
20,56,31,25,4,0.900000,2,111,0,0,0,1,0
21,57,27,63,3,2.000000,3,0,0,0,0,1,0
22,29,5,62,1,1.200000,1,260,0,0,0,1,0
23,44,18,43,2,0.700000,1,163,0,1,0,0,0
24,36,11,152,2,3.900000,1,159,0,0,0,0,1
25,43,19,29,3,0.500000,1,97,0,0,0,1,0
26,40,16,83,4,0.200000,3,0,0,0,0,0,0
27,46,20,158,1,2.400000,1,0,0,0,0,1,1
28,56,30,48,1,2.200000,3,0,0,0,0,1,1
29,38,13,119,1,3.300000,2,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4970,37,13,95,2,1.700000,2,0,0,0,0,0,1
4971,58,28,73,1,1.400000,3,0,0,1,0,0,0
4972,58,32,41,3,2.200000,3,148,0,0,0,1,1
4973,31,1,68,4,4.000000,3,0,0,0,0,1,0
4974,59,33,64,4,1.700000,2,0,0,0,0,0,1
4975,38,11,29,4,1.000000,2,0,0,0,0,1,0
4976,29,5,31,1,1.800000,2,0,0,0,0,1,1
4977,40,15,54,3,0.800000,3,0,0,0,0,1,0
4978,57,27,63,4,2.000000,3,0,0,0,0,1,0
4979,50,26,92,1,2.600000,2,213,0,0,0,0,1
4980,29,5,135,3,5.300000,1,0,1,0,1,1,1
4981,34,9,195,2,3.000000,1,122,0,0,0,1,0
4982,36,10,45,4,0.200000,1,0,0,0,0,0,1
4983,51,26,72,1,2.900000,1,0,0,0,0,0,0
4984,27,1,98,4,2.300000,3,0,0,0,0,0,1
4985,48,23,30,3,1.700000,2,162,0,0,0,1,0
4986,32,6,78,1,2.900000,3,0,0,0,0,0,0
4987,48,23,43,3,1.700000,2,159,0,0,0,1,0
4988,34,8,85,1,2.500000,1,136,0,0,0,0,1
4989,24,0,38,1,1.000000,3,0,0,0,0,1,0
4990,55,25,58,4,2.000000,3,219,0,0,0,0,1
4991,51,25,92,1,1.900000,2,100,0,0,0,0,1
4992,30,5,13,4,0.500000,3,0,0,0,0,0,0
4993,45,21,218,2,6.666667,1,0,0,0,0,1,0
4994,64,40,75,3,2.000000,3,0,0,0,0,1,0
4995,29,3,40,1,1.900000,3,0,0,0,0,1,0
4996,30,4,15,4,0.400000,1,85,0,0,0,1,0
4997,63,39,24,2,0.300000,3,0,0,0,0,0,0
4998,65,40,49,3,0.500000,2,0,0,0,0,1,0
4999,28,4,83,3,0.800000,1,0,0,0,0,1,1

In [16]:
x=df.iloc[:,0:12]
x

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.600000,1,0,0,1,0,0,0
1,45,19,34,3,1.500000,1,0,0,1,0,0,0
2,39,15,11,1,1.000000,1,0,0,0,0,0,0
3,35,9,100,1,2.700000,2,0,0,0,0,0,0
4,35,8,45,4,1.000000,2,0,0,0,0,0,1
5,37,13,29,4,0.400000,2,155,0,0,0,1,0
6,53,27,72,2,1.500000,2,0,0,0,0,1,0
7,50,24,22,1,0.300000,3,0,0,0,0,0,1
8,35,10,81,3,0.600000,2,104,0,0,0,1,0
9,34,9,180,1,8.900000,3,0,1,0,0,0,0
10,65,39,105,4,2.400000,3,0,0,0,0,0,0
11,29,5,45,3,0.100000,2,0,0,0,0,1,0
12,48,23,114,2,3.800000,3,0,0,1,0,0,0
13,59,32,40,4,2.500000,2,0,0,0,0,1,0
14,67,41,112,1,2.000000,1,0,0,1,0,0,0
15,60,30,22,1,1.500000,3,0,0,0,0,1,1
16,38,14,130,4,4.700000,3,134,1,0,0,0,0
17,42,18,81,4,2.400000,1,0,0,0,0,0,0
18,46,21,193,2,8.100000,3,0,1,0,0,0,0
19,55,28,21,1,0.500000,2,0,0,1,0,0,1
20,56,31,25,4,0.900000,2,111,0,0,0,1,0
21,57,27,63,3,2.000000,3,0,0,0,0,1,0
22,29,5,62,1,1.200000,1,260,0,0,0,1,0
23,44,18,43,2,0.700000,1,163,0,1,0,0,0
24,36,11,152,2,3.900000,1,159,0,0,0,0,1
25,43,19,29,3,0.500000,1,97,0,0,0,1,0
26,40,16,83,4,0.200000,3,0,0,0,0,0,0
27,46,20,158,1,2.400000,1,0,0,0,0,1,1
28,56,30,48,1,2.200000,3,0,0,0,0,1,1
29,38,13,119,1,3.300000,2,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4970,37,13,95,2,1.700000,2,0,0,0,0,0,1
4971,58,28,73,1,1.400000,3,0,0,1,0,0,0
4972,58,32,41,3,2.200000,3,148,0,0,0,1,1
4973,31,1,68,4,4.000000,3,0,0,0,0,1,0
4974,59,33,64,4,1.700000,2,0,0,0,0,0,1
4975,38,11,29,4,1.000000,2,0,0,0,0,1,0
4976,29,5,31,1,1.800000,2,0,0,0,0,1,1
4977,40,15,54,3,0.800000,3,0,0,0,0,1,0
4978,57,27,63,4,2.000000,3,0,0,0,0,1,0
4979,50,26,92,1,2.600000,2,213,0,0,0,0,1
4980,29,5,135,3,5.300000,1,0,1,0,1,1,1
4981,34,9,195,2,3.000000,1,122,0,0,0,1,0
4982,36,10,45,4,0.200000,1,0,0,0,0,0,1
4983,51,26,72,1,2.900000,1,0,0,0,0,0,0
4984,27,1,98,4,2.300000,3,0,0,0,0,0,1
4985,48,23,30,3,1.700000,2,162,0,0,0,1,0
4986,32,6,78,1,2.900000,3,0,0,0,0,0,0
4987,48,23,43,3,1.700000,2,159,0,0,0,1,0
4988,34,8,85,1,2.500000,1,136,0,0,0,0,1
4989,24,0,38,1,1.000000,3,0,0,0,0,1,0
4990,55,25,58,4,2.000000,3,219,0,0,0,0,1
4991,51,25,92,1,1.900000,2,100,0,0,0,0,1
4992,30,5,13,4,0.500000,3,0,0,0,0,0,0
4993,45,21,218,2,6.666667,1,0,0,0,0,1,0
4994,64,40,75,3,2.000000,3,0,0,0,0,1,0
4995,29,3,40,1,1.900000,3,0,0,0,0,1,0
4996,30,4,15,4,0.400000,1,85,0,0,0,1,0
4997,63,39,24,2,0.300000,3,0,0,0,0,0,0
4998,65,40,49,3,0.500000,2,0,0,0,0,1,0
4999,28,4,83,3,0.800000,1,0,0,0,0,1,1

In [17]:
y=dataset.iloc[:,-1]
y

0       0
1       0
2       0
3       0
4       1
5       0
6       0
7       1
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      1
16      0
17      0
18      0
19      1
20      0
21      0
22      0
23      0
24      1
25      0
26      0
27      1
28      1
29      1
       ..
4970    1
4971    0
4972    1
4973    0
4974    1
4975    0
4976    1
4977    0
4978    0
4979    1
4980    1
4981    0
4982    1
4983    0
4984    1
4985    0
4986    0
4987    0
4988    1
4989    0
4990    1
4991    1
4992    0
4993    0
4994    0
4995    0
4996    0
4997    0
4998    0
4999    1
Name: CreditCard, Length: 5000, dtype: int64

In [20]:
from scipy import stats
z=np.abs(stats.zscore(df))

ERROR! Session/line number was not unique in database. History logging moved to new session 550

In [21]:
threshold=3
np.where(z>threshold)

(array([   9,    9,   16, ..., 4980, 4980, 4993], dtype=int64),
 array([4, 7, 7, ..., 7, 9, 2], dtype=int64))

In [22]:
df

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.600000,1,0,0,1,0,0,0
1,45,19,34,3,1.500000,1,0,0,1,0,0,0
2,39,15,11,1,1.000000,1,0,0,0,0,0,0
3,35,9,100,1,2.700000,2,0,0,0,0,0,0
4,35,8,45,4,1.000000,2,0,0,0,0,0,1
5,37,13,29,4,0.400000,2,155,0,0,0,1,0
6,53,27,72,2,1.500000,2,0,0,0,0,1,0
7,50,24,22,1,0.300000,3,0,0,0,0,0,1
8,35,10,81,3,0.600000,2,104,0,0,0,1,0
9,34,9,180,1,8.900000,3,0,1,0,0,0,0
10,65,39,105,4,2.400000,3,0,0,0,0,0,0
11,29,5,45,3,0.100000,2,0,0,0,0,1,0
12,48,23,114,2,3.800000,3,0,0,1,0,0,0
13,59,32,40,4,2.500000,2,0,0,0,0,1,0
14,67,41,112,1,2.000000,1,0,0,1,0,0,0
15,60,30,22,1,1.500000,3,0,0,0,0,1,1
16,38,14,130,4,4.700000,3,134,1,0,0,0,0
17,42,18,81,4,2.400000,1,0,0,0,0,0,0
18,46,21,193,2,8.100000,3,0,1,0,0,0,0
19,55,28,21,1,0.500000,2,0,0,1,0,0,1
20,56,31,25,4,0.900000,2,111,0,0,0,1,0
21,57,27,63,3,2.000000,3,0,0,0,0,1,0
22,29,5,62,1,1.200000,1,260,0,0,0,1,0
23,44,18,43,2,0.700000,1,163,0,1,0,0,0
24,36,11,152,2,3.900000,1,159,0,0,0,0,1
25,43,19,29,3,0.500000,1,97,0,0,0,1,0
26,40,16,83,4,0.200000,3,0,0,0,0,0,0
27,46,20,158,1,2.400000,1,0,0,0,0,1,1
28,56,30,48,1,2.200000,3,0,0,0,0,1,1
29,38,13,119,1,3.300000,2,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4970,37,13,95,2,1.700000,2,0,0,0,0,0,1
4971,58,28,73,1,1.400000,3,0,0,1,0,0,0
4972,58,32,41,3,2.200000,3,148,0,0,0,1,1
4973,31,1,68,4,4.000000,3,0,0,0,0,1,0
4974,59,33,64,4,1.700000,2,0,0,0,0,0,1
4975,38,11,29,4,1.000000,2,0,0,0,0,1,0
4976,29,5,31,1,1.800000,2,0,0,0,0,1,1
4977,40,15,54,3,0.800000,3,0,0,0,0,1,0
4978,57,27,63,4,2.000000,3,0,0,0,0,1,0
4979,50,26,92,1,2.600000,2,213,0,0,0,0,1
4980,29,5,135,3,5.300000,1,0,1,0,1,1,1
4981,34,9,195,2,3.000000,1,122,0,0,0,1,0
4982,36,10,45,4,0.200000,1,0,0,0,0,0,1
4983,51,26,72,1,2.900000,1,0,0,0,0,0,0
4984,27,1,98,4,2.300000,3,0,0,0,0,0,1
4985,48,23,30,3,1.700000,2,162,0,0,0,1,0
4986,32,6,78,1,2.900000,3,0,0,0,0,0,0
4987,48,23,43,3,1.700000,2,159,0,0,0,1,0
4988,34,8,85,1,2.500000,1,136,0,0,0,0,1
4989,24,0,38,1,1.000000,3,0,0,0,0,1,0
4990,55,25,58,4,2.000000,3,219,0,0,0,0,1
4991,51,25,92,1,1.900000,2,100,0,0,0,0,1
4992,30,5,13,4,0.500000,3,0,0,0,0,0,0
4993,45,21,218,2,6.666667,1,0,0,0,0,1,0
4994,64,40,75,3,2.000000,3,0,0,0,0,1,0
4995,29,3,40,1,1.900000,3,0,0,0,0,1,0
4996,30,4,15,4,0.400000,1,85,0,0,0,1,0
4997,63,39,24,2,0.300000,3,0,0,0,0,0,0
4998,65,40,49,3,0.500000,2,0,0,0,0,1,0
4999,28,4,83,3,0.800000,1,0,0,0,0,1,1

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [26]:
x_train

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
2913,39,12,75,3,2.333333,2,0,0,0,0,1,1
3275,32,8,65,1,1.200000,1,268,0,0,0,1,0
775,65,39,23,3,0.700000,2,0,0,0,0,0,1
217,39,14,74,3,3.000000,1,0,0,0,0,0,0
1245,46,21,41,1,1.400000,3,128,0,0,0,1,0
4316,30,6,95,2,0.200000,1,0,0,1,0,1,0
4619,61,36,23,1,0.100000,1,96,0,0,0,0,0
1363,32,8,79,1,0.100000,1,0,0,0,0,0,0
630,32,7,35,3,1.300000,1,108,0,0,0,0,1
3572,30,6,30,1,0.400000,3,0,0,0,0,1,1
4124,53,29,141,2,0.200000,3,0,1,0,0,0,0
4101,45,21,40,3,0.600000,2,0,0,0,0,1,1
1881,46,19,82,3,2.666667,2,0,0,0,0,0,0
1482,60,35,8,1,0.100000,1,0,0,0,0,1,0
156,26,0,15,4,0.400000,1,0,0,0,0,0,1
1196,37,13,71,2,2.700000,1,94,0,0,0,1,0
2824,62,36,44,2,0.300000,1,0,0,0,0,0,0
3283,56,30,29,4,0.700000,2,87,0,0,0,1,0
3809,26,2,62,4,1.600000,1,0,0,1,0,0,0
3908,24,0,44,3,0.100000,2,0,0,0,0,0,0
2006,64,39,75,4,0.100000,2,0,0,0,1,1,1
4740,56,30,178,1,2.900000,1,0,0,0,0,1,0
2490,52,28,168,3,6.500000,3,118,1,0,0,1,0
4139,29,3,81,1,2.900000,3,0,0,0,0,0,0
22,29,5,62,1,1.200000,1,260,0,0,0,1,0
4196,49,25,13,1,0.900000,3,0,0,0,0,1,0
4054,59,34,64,4,1.700000,1,0,0,0,0,0,0
2799,64,39,85,4,3.400000,2,200,0,0,0,1,0
3578,29,5,128,2,4.100000,2,209,1,0,0,1,0
4722,40,16,63,1,1.500000,3,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3337,59,29,61,3,2.000000,3,0,0,0,0,1,0
423,43,19,161,2,7.500000,1,0,0,0,0,0,0
3219,39,15,33,1,2.000000,2,0,0,0,0,0,0
659,63,39,79,4,1.700000,2,0,0,0,0,1,1
797,42,17,61,3,0.500000,3,0,0,0,0,1,0
755,56,30,45,4,0.700000,2,0,0,0,0,0,1
2008,63,38,31,1,1.100000,3,125,0,0,0,1,0
99,66,41,15,3,0.100000,3,0,0,0,0,1,0
2496,63,37,32,3,0.700000,2,141,0,0,0,0,0
1871,31,5,99,4,1.800000,2,268,0,0,0,0,0
2046,43,16,161,3,8.000000,2,0,1,0,1,1,1
4851,55,31,124,2,0.300000,1,0,0,0,0,1,0
2163,33,3,69,4,1.800000,3,0,0,0,0,1,0
2893,38,14,70,4,2.000000,3,0,0,0,0,1,0
537,44,20,131,1,4.900000,3,0,1,0,0,1,0
1701,29,3,108,4,1.800000,2,0,0,0,0,0,0
2897,28,2,34,4,1.300000,3,0,0,0,0,0,0
2222,45,20,41,1,0.300000,1,0,0,0,0,1,0
2135,45,15,28,1,0.750000,3,0,0,1,0,0,0
2599,44,20,71,4,2.000000,3,0,0,0,0,0,1
705,62,36,30,3,0.700000,2,0,0,0,0,1,0
3468,43,19,113,2,1.800000,2,0,0,0,0,0,1
4373,30,6,139,1,4.300000,1,0,0,0,0,1,0
1033,60,34,29,2,0.300000,1,0,0,0,0,1,0
4859,34,8,165,1,7.000000,3,541,1,0,0,0,0
4931,57,27,55,1,1.400000,3,0,0,0,0,1,0
3264,67,41,114,4,2.400000,3,0,0,0,0,1,0
1653,26,1,24,2,0.900000,3,123,0,0,0,0,1
2607,57,33,49,4,1.500000,1,214,0,1,1,1,1
2732,33,9,38,1,2.100000,3,133,0,0,0,0,0

In [27]:
#Normalisation using standard scalar
from sklearn.preprocessing import  StandardScaler
sc =StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [28]:
x_train

array([[-0.54939992, -0.70298746,  0.02175233, ..., -0.25432119,
         0.82545668,  1.55150089],
       [-1.1586596 , -1.05065683, -0.19431256, ..., -0.25432119,
         0.82545668, -0.64453717],
       [ 1.71356461,  1.64378077, -1.10178513, ..., -0.25432119,
        -1.21145061,  1.55150089],
       ...,
       [-1.68088218, -1.65907822, -1.08017864, ..., -0.25432119,
        -1.21145061,  1.55150089],
       [ 1.01726783,  1.12227672, -0.5400164 , ...,  3.93203578,
         0.82545668,  1.55150089],
       [-1.0716225 , -0.96373949, -0.77768778, ..., -0.25432119,
        -1.21145061, -0.64453717]])

In [29]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [30]:
y_pred=lr.predict(x_test)
y_pred

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

In [31]:
y_test

398     0
3833    0
4836    1
4572    0
636     0
2545    0
1161    0
2230    1
148     0
2530    0
4070    0
1261    0
4682    0
333     0
906     0
3170    0
483     0
2825    0
1778    0
2466    0
159     0
1563    1
402     1
4258    0
4775    0
1095    0
3054    1
4268    0
3711    0
453     0
       ..
3848    1
4073    0
1368    0
1414    0
847     0
1819    0
684     0
396     0
2866    1
2011    0
3053    0
3407    0
401     1
1606    0
1262    0
1529    0
1850    0
2501    0
4638    0
3704    0
559     0
4115    0
2805    0
3873    0
1391    0
4228    0
2367    1
788     0
1452    0
3265    0
Name: CreditCard, Length: 1000, dtype: int64

In [32]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)
#total no of correc prediction/total no of  predictions

1.0