# Statistical Tests

In [9]:
import pandas as pd

ERROR! Session/line number was not unique in database. History logging moved to new session 494

In [10]:
dataset =pd.read_csv('general_data.csv')
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,No,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,No,Non-Travel,Research & Development,7,4,Medical,1,10,Female,...,1.0,Y,13,8,1,6.0,2,6,1,5
10,45,No,Travel_Rarely,Research & Development,17,2,Medical,1,11,Male,...,0.0,Y,13,8,2,21.0,2,20,4,10
11,36,No,Travel_Rarely,Research & Development,28,1,Life Sciences,1,12,Male,...,0.0,Y,12,8,2,16.0,2,15,10,11
12,55,No,Travel_Rarely,Research & Development,14,4,Life Sciences,1,13,Female,...,0.0,Y,17,8,0,37.0,2,36,4,13
13,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
14,28,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,15,Male,...,1.0,Y,14,8,0,5.0,2,5,0,4
15,37,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,16,Male,...,4.0,Y,11,8,0,7.0,2,5,0,1
16,21,No,Travel_Rarely,Research & Development,3,2,Life Sciences,1,17,Male,...,1.0,Y,12,8,3,3.0,3,3,1,0
17,37,No,Non-Travel,Research & Development,1,3,Medical,1,18,Male,...,2.0,Y,13,8,1,15.0,2,5,0,2
18,35,No,Travel_Rarely,Sales,7,4,Life Sciences,1,19,Male,...,7.0,Y,16,8,0,10.0,5,7,6,2
19,38,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,20,Female,...,1.0,Y,11,8,1,8.0,5,8,7,7
20,26,No,Travel_Frequently,Research & Development,1,4,Other,1,21,Male,...,1.0,Y,18,8,0,6.0,3,6,1,4
21,50,No,Travel_Rarely,Sales,8,4,Life Sciences,1,22,Male,...,3.0,Y,23,8,0,28.0,2,10,1,6
22,53,No,Travel_Rarely,Research & Development,11,4,Life Sciences,1,23,Female,...,3.0,Y,11,8,0,21.0,2,5,1,3
23,42,No,Travel_Rarely,Research & Development,4,4,Life Sciences,1,24,Male,...,1.0,Y,14,8,0,NaN,4,20,11,6
24,29,No,Travel_Frequently,Research & Development,16,4,Medical,1,25,Male,...,1.0,Y,11,8,1,10.0,2,10,0,9
25,55,No,Travel_Rarely,Research & Development,1,4,Other,1,26,Female,...,3.0,Y,11,8,0,12.0,2,10,0,8
26,26,No,Travel_Frequently,Research & Development,9,3,Life Sciences,1,27,Female,...,1.0,Y,22,8,0,5.0,3,5,3,3
27,37,No,Travel_Rarely,Sales,5,1,Marketing,1,28,Male,...,1.0,Y,11,8,0,17.0,2,17,5,7
28,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
29,38,No,Travel_Rarely,Sales,2,3,Marketing,1,30,Female,...,9.0,Y,12,8,0,10.0,3,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4380,35,No,Travel_Frequently,Research & Development,19,3,Life Sciences,1,4381,Female,...,1.0,Y,13,8,0,10.0,6,10,0,8
4381,29,Yes,Travel_Rarely,Research & Development,7,1,Life Sciences,1,4382,Female,...,1.0,Y,21,8,0,4.0,2,4,0,1
4382,52,No,Travel_Rarely,Research & Development,1,2,Medical,1,4383,Female,...,7.0,Y,14,8,0,6.0,5,2,2,2
4383,42,No,Travel_Rarely,Research & Development,7,4,Life Sciences,1,4384,Female,...,1.0,Y,11,8,2,22.0,2,22,11,15
4384,59,No,Travel_Rarely,Research & Development,4,4,Technical Degree,1,4385,Male,...,8.0,Y,11,8,0,7.0,3,2,2,2
4385,50,No,Travel_Rarely,Research & Development,11,2,Life Sciences,1,4386,Male,...,3.0,Y,23,8,1,32.0,2,7,0,6
4386,33,Yes,Travel_Rarely,Sales,11,4,Marketing,1,4387,Male,...,5.0,Y,21,8,0,8.0,2,5,0,4
4387,43,No,Travel_Rarely,Sales,1,3,Marketing,1,4388,Female,...,5.0,Y,24,8,0,22.0,3,17,1,9
4388,33,Yes,Travel_Rarely,Sales,1,3,Life Sciences,1,4389,Male,...,7.0,Y,11,8,0,13.0,2,9,1,7
4389,52,No,Non-Travel,Research & Development,2,3,Technical Degree,1,4390,Male,...,1.0,Y,14,8,0,33.0,3,33,15,12
4390,32,No,Travel_Rarely,Human Resources,13,4,Life Sciences,1,4391,Female,...,2.0,Y,16,8,1,6.0,2,4,1,2
4391,32,Yes,Travel_Rarely,Sales,23,1,Life Sciences,1,4392,Male,...,0.0,Y,11,8,0,4.0,2,3,1,2
4392,39,No,Travel_Rarely,Sales,26,4,Life Sciences,1,4393,Male,...,7.0,Y,12,8,1,7.0,2,3,1,2
4393,32,No,Non-Travel,Sales,2,4,Marketing,1,4394,Male,...,0.0,Y,13,8,1,4.0,3,3,2,2
4394,41,No,Travel_Rarely,Sales,29,3,Life Sciences,1,4395,Female,...,2.0,Y,15,8,0,17.0,3,1,0,0
4395,40,No,Travel_Rarely,Research & Development,2,3,Life Sciences,1,4396,Male,...,NaN,Y,14,8,1,9.0,4,9,4,7
4396,45,No,Travel_Rarely,Research & Development,18,1,Life Sciences,1,4397,Female,...,0.0,Y,14,8,0,25.0,4,24,1,7
4397,31,No,Travel_Frequently,Research & Development,7,4,Medical,1,4398,Male,...,9.0,Y,14,8,1,9.0,3,2,2,2
4398,33,No,Travel_Rarely,Research & Development,2,4,Life Sciences,1,4399,Female,...,1.0,Y,12,8,1,2.0,2,2,0,2
4399,34,No,Travel_Rarely,Research & Development,26,3,Other,1,4400,Female,...,6.0,Y,13,8,0,13.0,3,11,5,9
4400,37,No,Travel_Rarely,Research & Development,22,5,Medical,1,4401,Female,...,2.0,Y,14,8,3,17.0,3,3,0,2
4401,45,No,Travel_Frequently,Sales,21,1,Marketing,1,4402,Male,...,4.0,Y,13,8,0,9.0,3,3,0,2
4402,37,Yes,Travel_Frequently,Sales,2,3,Marketing,1,4403,Male,...,6.0,Y,11,8,1,17.0,2,1,0,0
4403,39,No,Travel_Frequently,Research & Development,22,3,Medical,1,4404,Female,...,0.0,Y,19,8,1,20.0,2,19,11,8
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [19]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

ERROR! Session/line number was not unique in database. History logging moved to new session 501

In [20]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [21]:
yes_att = dataset.groupby(dataset.Attrition)
yes = yes_att.get_group("Yes")
print(yes)

      Age Attrition     BusinessTravel              Department  \
1      31       Yes  Travel_Frequently  Research & Development
6      28       Yes      Travel_Rarely  Research & Development
13     47       Yes         Non-Travel  Research & Development
28     44       Yes  Travel_Frequently  Research & Development
30     26       Yes      Travel_Rarely  Research & Development
35     26       Yes      Travel_Rarely  Research & Development
38     18       Yes      Travel_Rarely  Research & Development
59     52       Yes      Travel_Rarely  Research & Development
65     28       Yes      Travel_Rarely  Research & Development
69     39       Yes      Travel_Rarely  Research & Development
78     29       Yes      Travel_Rarely  Research & Development
99     21       Yes  Travel_Frequently  Research & Development
105    33       Yes      Travel_Rarely         Human Resources
108    41       Yes  Travel_Frequently  Research & Development
110    40       Yes      Travel_Rarely  Research & Development
112    21       Yes      Travel_Rarely         Human Resources
120    34       Yes         Non-Travel  Research & Development
124    26       Yes  Travel_Frequently                   Sales
127    30       Yes  Travel_Frequently                   Sales
147    25       Yes      Travel_Rarely  Research & Development
156    24       Yes      Travel_Rarely  Research & Development
157    34       Yes  Travel_Frequently  Research & Development
163    29       Yes      Travel_Rarely  Research & Development
164    19       Yes      Travel_Rarely  Research & Development
177    33       Yes      Travel_Rarely  Research & Development
178    33       Yes      Travel_Rarely                   Sales
181    31       Yes  Travel_Frequently  Research & Development
182    34       Yes  Travel_Frequently                   Sales
185    22       Yes  Travel_Frequently  Research & Development
195    26       Yes  Travel_Frequently  Research & Development
...   ...       ...                ...                     ...
4202   48       Yes      Travel_Rarely  Research & Development
4203   28       Yes      Travel_Rarely  Research & Development
4221   36       Yes      Travel_Rarely                   Sales
4241   46       Yes      Travel_Rarely                   Sales
4252   37       Yes      Travel_Rarely         Human Resources
4254   20       Yes  Travel_Frequently                   Sales
4259   25       Yes      Travel_Rarely                   Sales
4263   34       Yes  Travel_Frequently         Human Resources
4274   56       Yes      Travel_Rarely  Research & Development
4276   31       Yes      Travel_Rarely  Research & Development
4278   58       Yes      Travel_Rarely                   Sales
4279   19       Yes      Travel_Rarely  Research & Development
4284   31       Yes      Travel_Rarely  Research & Development
4288   51       Yes  Travel_Frequently  Research & Development
4292   32       Yes      Travel_Rarely  Research & Development
4323   19       Yes  Travel_Frequently  Research & Development
4329   19       Yes      Travel_Rarely  Research & Development
4334   41       Yes      Travel_Rarely  Research & Development
4344   35       Yes      Travel_Rarely  Research & Development
4356   38       Yes      Travel_Rarely                   Sales
4357   29       Yes      Travel_Rarely                   Sales
4362   32       Yes      Travel_Rarely  Research & Development
4366   30       Yes      Travel_Rarely  Research & Development
4368   30       Yes  Travel_Frequently                   Sales
4369   29       Yes      Travel_Rarely  Research & Development
4381   29       Yes      Travel_Rarely  Research & Development
4386   33       Yes      Travel_Rarely                   Sales
4388   33       Yes      Travel_Rarely                   Sales
4391   32       Yes      Travel_Rarely                   Sales
4402   37       Yes  Travel_Frequently                   Sales

      DistanceFromHome  Education    EducationField  EmployeeCount  \
1                   10          1     Life Sciences              1
6                   11          2           Medical              1
13                   1          1           Medical              1
28                   1          2           Medical              1
30                   4          3           Medical              1
35                   8          3           Medical              1
38                   1          4     Life Sciences              1
59                   7          1     Life Sciences              1
65                   9          4           Medical              1
69                   1          1           Medical              1
78                  29          3           Medical              1
99                   9          3           Medical              1
105                 28          2   Human Resources              1
108                 16          1           Medical              1
110                  8          3           Medical              1
112                 10          2   Human Resources              1
120                  7          3     Life Sciences              1
124                 14          3     Life Sciences              1
127                  3          2         Marketing              1
147                  5          2     Life Sciences              1
156                 27          2           Medical              1
157                  5          3           Medical              1
163                 19          4     Life Sciences              1
164                  4          3           Medical              1
177                 10          3     Life Sciences              1
178                  5          4         Marketing              1
181                 22          2           Medical              1
182                 17          1         Marketing              1
185                  7          3           Medical              1
195                  2          1     Life Sciences              1
...                ...        ...               ...            ...
4202                 2          4  Technical Degree              1
4203                10          1           Medical              1
4221                 7          2     Life Sciences              1
4241                 1          2           Medical              1
4252                 9          3   Human Resources              1
4254                 4          4     Life Sciences              1
4259                10          1         Marketing              1
4263                 4          4     Life Sciences              1
4274                15          3     Life Sciences              1
4276                 2          4  Technical Degree              1
4278                 2          2           Medical              1
4279                 5          2     Life Sciences              1
4284                15          1           Medical              1
4288                 6          3     Life Sciences              1
4292                 2          4     Life Sciences              1
4323                10          2     Life Sciences              1
4329                 8          2     Life Sciences              1
4334                18          4     Life Sciences              1
4344                 2          4     Life Sciences              1
4356                 6          4     Life Sciences              1
4357                10          2     Life Sciences              1
4362                 5          3           Medical              1
4366                10          4     Life Sciences              1
4368                 3          2           Medical              1
4369                 2          3     Life Sciences              1
4381                 7          1     Life Sciences              1
4386                11          4         Marketing              1
4388                 1          3     Life Sciences              1
4391                23          1     Life Sciences              1
4402                 2          3         Marketing              1

      EmployeeID  Gender          ...           NumCompaniesWorked Over18  \
1              2  Female          ...                          0.0      Y
6              7    Male          ...                          2.0      Y
13            14    Male          ...                          1.0      Y
28            29    Male          ...                          3.0      Y
30            31    Male          ...                          2.0      Y
35            36    Male          ...                          1.0      Y
38            39    Male          ...                          1.0      Y
59            60  Female          ...                          2.0      Y
65            66    Male          ...                          5.0      Y
69            70  Female          ...                          4.0      Y
78            79  Female          ...                          1.0      Y
99           100  Female          ...                          1.0      Y
105          106  Female          ...                          1.0      Y
108          109  Female          ...                          1.0      Y
110          111  Female          ...                          2.0      Y
112          113    Male          ...                          1.0      Y
120          121    Male          ...                          8.0      Y
124          125    Male          ...                          0.0      Y
127          128    Male          ...                          9.0      Y
147          148  Female          ...                          5.0      Y
156          157    Male          ...                          1.0      Y
157          158    Male          ...                          0.0      Y
163          164    Male          ...                          5.0      Y
164          165    Male          ...                          1.0      Y
177          178  Female          ...                          7.0      Y
178          179    Male          ...                          7.0      Y
181          182  Female          ...                          3.0      Y
182          183    Male          ...                          9.0      Y
185          186  Female          ...                          5.0      Y
195          196  Female          ...                          0.0      Y
...          ...     ...          ...                          ...    ...
4202        4203  Female          ...                          9.0      Y
4203        4204    Male          ...                          1.0      Y
4221        4222    Male          ...                          0.0      Y
4241        4242  Female          ...                          1.0      Y
4252        4253    Male          ...                          4.0      Y
4254        4255  Female          ...                          1.0      Y
4259        4260    Male          ...                          1.0      Y
4263        4264  Female          ...                          1.0      Y
4274        4275    Male          ...                          9.0      Y
4276        4277  Female          ...                          4.0      Y
4278        4279  Female          ...                          1.0      Y
4279        4280    Male          ...                          1.0      Y
4284        4285  Female          ...                          3.0      Y
4288        4289  Female          ...                          2.0      Y
4292        4293  Female          ...                          7.0      Y
4323        4324    Male          ...                          0.0      Y
4329        4330    Male          ...                          1.0      Y
4334        4335    Male          ...                          1.0      Y
4344        4345  Female          ...                          3.0      Y
4356        4357  Female          ...                          7.0      Y
4357        4358  Female          ...                          1.0      Y
4362        4363    Male          ...                          1.0      Y
4366        4367  Female          ...                          5.0      Y
4368        4369    Male          ...                          5.0      Y
4369        4370    Male          ...                          0.0      Y
4381        4382  Female          ...                          1.0      Y
4386        4387    Male          ...                          5.0      Y
4388        4389    Male          ...                          7.0      Y
4391        4392    Male          ...                          0.0      Y
4402        4403    Male          ...                          6.0      Y

     PercentSalaryHike  StandardHours  StockOptionLevel TotalWorkingYears  \
1                   23              8                 1               6.0
6                   20              8                 1               5.0
13                  11              8                 2              10.0
28                  14              8                 1              19.0
30                  11              8                 0               5.0
35                  12              8                 2               8.0
38                  14              8                 2               0.0
59                  18              8                 1              11.0
65                  14              8                 1               5.0
69                  17              8                 1              12.0
78                  13              8                 1               7.0
99                  12              8                 0               3.0
105                 21              8                 1               1.0
108                 11              8                 0               8.0
110                 20              8                 0               8.0
112                 12              8                 1               1.0
120                 25              8                 1               9.0
124                 18              8                 3               7.0
127                 19              8                 0               3.0
147                 13              8                 0               6.0
156                 17              8                 1               6.0
157                 20              8                 1               3.0
163                 16              8                 1               6.0
164                 15              8                 2               1.0
177                 22              8                 0              15.0
178                 25              8                 0               8.0
181                 15              8                 2              12.0
182                 22              8                 1              11.0
185                 13              8                 2               4.0
195                 12              8                 0               8.0
...                ...            ...               ...               ...
4202                16              8                 0              23.0
4203                22              8                 1               2.0
4221                18              8                 3               2.0
4241                22              8                 0               9.0
4252                17              8                 0               7.0
4254                22              8                 0               1.0
4259                13              8                 0               6.0
4263                15              8                 0               9.0
4274                19              8                 0               7.0
4276                20              8                 0              12.0
4278                13              8                 1              40.0
4279                23              8                 1               0.0
4284                22              8                 0               4.0
4288                11              8                 0              18.0
4292                15              8                 0              10.0
4323                22              8                 1               1.0
4329                21              8                 0               1.0
4334                24              8                 1               4.0
4344                12              8                 0               8.0
4356                15              8                 0              17.0
4357                19              8                 2              10.0
4362                11              8                 0              14.0
4366                13              8                 0               8.0
4368                14              8                 0               9.0
4369                13              8                 0               7.0
4381                21              8                 0               4.0
4386                21              8                 0               8.0
4388                11              8                 0              13.0
4391                11              8                 0               4.0
4402                11              8                 1              17.0

      TrainingTimesLastYear  YearsAtCompany  YearsSinceLastPromotion  \
1                         3               5                        1
6                         2               0                        0
13                        4              10                        9
28                        2               1                        0
30                        5               3                        0
35                        5               8                        7
38                        3               0                        0
59                        2               8                        7
65                        4               3                        2
69                        0               1                        0
78                        0               7                        0
99                        5               3                        1
105                       3               1                        0
108                       3               8                        7
110                       2               6                        1
112                       2               1                        0
120                       3               5                        0
124                       3               6                        0
127                       2               1                        0
147                       3               2                        0
156                       0               5                        1
157                       3               2                        1
163                       4               2                        1
164                       2               1                        0
177                       2               7                        7
178                       5               4                        1
181                       2               1                        0
182                       5               3                        0
185                       2               2                        1
195                       3               7                        1
...                     ...             ...                      ...
4202                      6               1                        0
4203                      3               2                        2
4221                      2               1                        0
4241                      0               9                        4
4252                      4               3                        0
4254                      3               1                        1
4259                      6               6                        0

In [22]:
no_att = dataset.groupby(dataset.Attrition)
No = no_att.get_group("No")
print(No)

      Age Attrition     BusinessTravel              Department  \
0      51        No      Travel_Rarely                   Sales
2      32        No  Travel_Frequently  Research & Development
3      38        No         Non-Travel  Research & Development
4      32        No      Travel_Rarely  Research & Development
5      46        No      Travel_Rarely  Research & Development
7      29        No      Travel_Rarely  Research & Development
8      31        No      Travel_Rarely  Research & Development
9      25        No         Non-Travel  Research & Development
10     45        No      Travel_Rarely  Research & Development
11     36        No      Travel_Rarely  Research & Development
12     55        No      Travel_Rarely  Research & Development
14     28        No      Travel_Rarely  Research & Development
15     37        No      Travel_Rarely  Research & Development
16     21        No      Travel_Rarely  Research & Development
17     37        No         Non-Travel  Research & Development
18     35        No      Travel_Rarely                   Sales
19     38        No      Travel_Rarely  Research & Development
20     26        No  Travel_Frequently  Research & Development
21     50        No      Travel_Rarely                   Sales
22     53        No      Travel_Rarely  Research & Development
23     42        No      Travel_Rarely  Research & Development
24     29        No  Travel_Frequently  Research & Development
25     55        No      Travel_Rarely  Research & Development
26     26        No  Travel_Frequently  Research & Development
27     37        No      Travel_Rarely                   Sales
29     38        No      Travel_Rarely                   Sales
31     28        No      Travel_Rarely  Research & Development
32     49        No  Travel_Frequently  Research & Development
33     36        No      Travel_Rarely                   Sales
34     31        No  Travel_Frequently  Research & Development
...   ...       ...                ...                     ...
4375   38        No      Travel_Rarely  Research & Development
4376   31        No         Non-Travel                   Sales
4377   59        No      Travel_Rarely  Research & Development
4378   37        No  Travel_Frequently                   Sales
4379   29        No  Travel_Frequently                   Sales
4380   35        No  Travel_Frequently  Research & Development
4382   52        No      Travel_Rarely  Research & Development
4383   42        No      Travel_Rarely  Research & Development
4384   59        No      Travel_Rarely  Research & Development
4385   50        No      Travel_Rarely  Research & Development
4387   43        No      Travel_Rarely                   Sales
4389   52        No         Non-Travel  Research & Development
4390   32        No      Travel_Rarely         Human Resources
4392   39        No      Travel_Rarely                   Sales
4393   32        No         Non-Travel                   Sales
4394   41        No      Travel_Rarely                   Sales
4395   40        No      Travel_Rarely  Research & Development
4396   45        No      Travel_Rarely  Research & Development
4397   31        No  Travel_Frequently  Research & Development
4398   33        No      Travel_Rarely  Research & Development
4399   34        No      Travel_Rarely  Research & Development
4400   37        No      Travel_Rarely  Research & Development
4401   45        No  Travel_Frequently                   Sales
4403   39        No  Travel_Frequently  Research & Development
4404   29        No      Travel_Rarely                   Sales
4405   42        No      Travel_Rarely  Research & Development
4406   29        No      Travel_Rarely  Research & Development
4407   25        No      Travel_Rarely  Research & Development
4408   42        No      Travel_Rarely                   Sales
4409   40        No      Travel_Rarely  Research & Development

      DistanceFromHome  Education    EducationField  EmployeeCount  \
0                    6          2     Life Sciences              1
2                   17          4             Other              1
3                    2          5     Life Sciences              1
4                   10          1           Medical              1
5                    8          3     Life Sciences              1
7                   18          3     Life Sciences              1
8                    1          3     Life Sciences              1
9                    7          4           Medical              1
10                  17          2           Medical              1
11                  28          1     Life Sciences              1
12                  14          4     Life Sciences              1
14                   1          3     Life Sciences              1
15                   1          3     Life Sciences              1
16                   3          2     Life Sciences              1
17                   1          3           Medical              1
18                   7          4     Life Sciences              1
19                   8          3     Life Sciences              1
20                   1          4             Other              1
21                   8          4     Life Sciences              1
22                  11          4     Life Sciences              1
23                   4          4     Life Sciences              1
24                  16          4           Medical              1
25                   1          4             Other              1
26                   9          3     Life Sciences              1
27                   5          1         Marketing              1
29                   2          3         Marketing              1
31                   7          3             Other              1
32                   1          1           Medical              1
33                   5          3  Technical Degree              1
34                   9          4           Medical              1
...                ...        ...               ...            ...
4375                 1          2           Medical              1
4376                 4          1           Medical              1
4377                 5          3     Life Sciences              1
4378                 2          3         Marketing              1
4379                15          4           Medical              1
4380                19          3     Life Sciences              1
4382                 1          2           Medical              1
4383                 7          4     Life Sciences              1
4384                 4          4  Technical Degree              1
4385                11          2     Life Sciences              1
4387                 1          3         Marketing              1
4389                 2          3  Technical Degree              1
4390                13          4     Life Sciences              1
4392                26          4     Life Sciences              1
4393                 2          4         Marketing              1
4394                29          3     Life Sciences              1
4395                 2          3     Life Sciences              1
4396                18          1     Life Sciences              1
4397                 7          4           Medical              1
4398                 2          4     Life Sciences              1
4399                26          3             Other              1
4400                22          5           Medical              1
4401                21          1         Marketing              1
4403                22          3           Medical              1
4404                 4          3             Other              1
4405                 5          4           Medical              1
4406                 2          4           Medical              1
4407                25          2     Life Sciences              1
4408                18          2           Medical              1
4409                28          3           Medical              1

      EmployeeID  Gender          ...           NumCompaniesWorked Over18  \
0              1  Female          ...                          1.0      Y
2              3    Male          ...                          1.0      Y
3              4    Male          ...                          3.0      Y
4              5    Male          ...                          4.0      Y
5              6  Female          ...                          3.0      Y
7              8    Male          ...                          2.0      Y
8              9    Male          ...                          0.0      Y
9             10  Female          ...                          1.0      Y
10            11    Male          ...                          0.0      Y
11            12    Male          ...                          0.0      Y
12            13  Female          ...                          0.0      Y
14            15    Male          ...                          1.0      Y
15            16    Male          ...                          4.0      Y
16            17    Male          ...                          1.0      Y
17            18    Male          ...                          2.0      Y
18            19    Male          ...                          7.0      Y
19            20  Female          ...                          1.0      Y
20            21    Male          ...                          1.0      Y
21            22    Male          ...                          3.0      Y
22            23  Female          ...                          3.0      Y
23            24    Male          ...                          1.0      Y
24            25    Male          ...                          1.0      Y
25            26  Female          ...                          3.0      Y
26            27  Female          ...                          1.0      Y
27            28    Male          ...                          1.0      Y
29            30  Female          ...                          9.0      Y
31            32    Male          ...                          1.0      Y
32            33  Female          ...                          9.0      Y
33            34    Male          ...                          4.0      Y
34            35    Male          ...                          1.0      Y
...          ...     ...          ...                          ...    ...
4375        4376    Male          ...                          0.0      Y
4376        4377  Female          ...                          0.0      Y
4377        4378  Female          ...                          3.0      Y
4378        4379  Female          ...                          4.0      Y
4379        4380  Female          ...                          1.0      Y
4380        4381  Female          ...                          1.0      Y
4382        4383  Female          ...                          7.0      Y
4383        4384  Female          ...                          1.0      Y
4384        4385    Male          ...                          8.0      Y
4385        4386    Male          ...                          3.0      Y
4387        4388  Female          ...                          5.0      Y
4389        4390    Male          ...                          1.0      Y
4390        4391  Female          ...                          2.0      Y
4392        4393    Male          ...                          7.0      Y
4393        4394    Male          ...                          0.0      Y
4394        4395  Female          ...                          2.0      Y
4395        4396    Male          ...                          NaN      Y
4396        4397  Female          ...                          0.0      Y
4397        4398    Male          ...                          9.0      Y
4398        4399  Female          ...                          1.0      Y
4399        4400  Female          ...                          6.0      Y
4400        4401  Female          ...                          2.0      Y
4401        4402    Male          ...                          4.0      Y
4403        4404  Female          ...                          0.0      Y
4404        4405  Female          ...                          1.0      Y
4405        4406  Female          ...                          3.0      Y
4406        4407    Male          ...                          2.0      Y
4407        4408    Male          ...                          0.0      Y
4408        4409    Male          ...                          0.0      Y
4409        4410    Male          ...                          0.0      Y

     PercentSalaryHike  StandardHours  StockOptionLevel TotalWorkingYears  \
0                   11              8                 0               1.0
2                   15              8                 3               5.0
3                   11              8                 3              13.0
4                   12              8                 2               9.0
5                   13              8                 0              28.0
7                   22              8                 3              10.0
8                   21              8                 0              10.0
9                   13              8                 1               6.0
10                  13              8                 2              21.0
11                  12              8                 2              16.0
12                  17              8                 0              37.0
14                  14              8                 0               5.0
15                  11              8                 0               7.0
16                  12              8                 3               3.0
17                  13              8                 1              15.0
18                  16              8                 0              10.0
19                  11              8                 1               8.0
20                  18              8                 0               6.0
21                  23              8                 0              28.0
22                  11              8                 0              21.0
23                  14              8                 0               NaN
24                  11              8                 1              10.0
25                  11              8                 0              12.0
26                  22              8                 0               5.0
27                  11              8                 0              17.0
29                  12              8                 0              10.0
31                  13              8                 0               5.0
32                  13              8                 0              22.0
33                  14              8                 0              10.0
34                  16              8                 1               2.0
...                ...            ...               ...               ...
4375                12              8                 0              17.0
4376                11              8                 1               6.0
4377                13              8                 0               7.0
4378                19              8                 0              13.0
4379                19              8                 3              11.0
4380                13              8                 0              10.0
4382                14              8                 0               6.0
4383                11              8                 2              22.0
4384                11              8                 0               7.0
4385                23              8                 1              32.0
4387                24              8                 0              22.0
4389                14              8                 0              33.0
4390                16              8                 1               6.0
4392                12              8                 1               7.0
4393                13              8                 1               4.0
4394                15              8                 0              17.0
4395                14              8                 1               9.0
4396                14              8                 0              25.0
4397                14              8                 1               9.0
4398                12              8                 1               2.0
4399                13              8                 0              13.0
4400                14              8                 3              17.0
4401                13              8                 0               9.0
4403                19              8                 1              20.0
4404                18              8                 0               6.0
4405                17              8                 1              10.0
4406                15              8                 0              10.0
4407                20              8                 0               5.0
4408                14              8                 1              10.0
4409                12              8                 0               NaN

      TrainingTimesLastYear  YearsAtCompany  YearsSinceLastPromotion  \
0                         6               1                        0
2                         2               5                        0
3                         5               8                        7
4                         2               6                        0
5                         5               7                        7
7                         2               0                        0
8                         2               9                        7
9                         2               6                        1
10                        2              20                        4
11                        2              15                       10
12                        2              36                        4
14                        2               5                        0
15                        2               5                        0
16                        3               3                        1
17                        2               5                        0
18                        5               7                        6
19                        5               8                        7
20                        3               6                        1
21                        2              10                        1
22                        2               5                        1
23                        4              20                       11
24                        2              10                        0
25                        2              10                        0
26                        3               5                        3
27                        2              17                        5
29                        3               2                        1
31                        6               5                        0
32                        2               3                        1
33                        2               8                        7
34                        4               2                        2
...                     ...             ...                      ...
4375                      4              16                        5
4376                      2               5                        1
4377                      2               1                        0
4378                      2               9                        5
4379                      4              11                        4
4380                      6              10                        0
4382                      5               2                        2

In [23]:
Attrition_No = pd.DataFrame(No) 
Attrition_No

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7
7,29,No,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,No,Non-Travel,Research & Development,7,4,Medical,1,10,Female,...,1.0,Y,13,8,1,6.0,2,6,1,5
10,45,No,Travel_Rarely,Research & Development,17,2,Medical,1,11,Male,...,0.0,Y,13,8,2,21.0,2,20,4,10
11,36,No,Travel_Rarely,Research & Development,28,1,Life Sciences,1,12,Male,...,0.0,Y,12,8,2,16.0,2,15,10,11
12,55,No,Travel_Rarely,Research & Development,14,4,Life Sciences,1,13,Female,...,0.0,Y,17,8,0,37.0,2,36,4,13
14,28,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,15,Male,...,1.0,Y,14,8,0,5.0,2,5,0,4
15,37,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,16,Male,...,4.0,Y,11,8,0,7.0,2,5,0,1
16,21,No,Travel_Rarely,Research & Development,3,2,Life Sciences,1,17,Male,...,1.0,Y,12,8,3,3.0,3,3,1,0
17,37,No,Non-Travel,Research & Development,1,3,Medical,1,18,Male,...,2.0,Y,13,8,1,15.0,2,5,0,2
18,35,No,Travel_Rarely,Sales,7,4,Life Sciences,1,19,Male,...,7.0,Y,16,8,0,10.0,5,7,6,2
19,38,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,20,Female,...,1.0,Y,11,8,1,8.0,5,8,7,7
20,26,No,Travel_Frequently,Research & Development,1,4,Other,1,21,Male,...,1.0,Y,18,8,0,6.0,3,6,1,4
21,50,No,Travel_Rarely,Sales,8,4,Life Sciences,1,22,Male,...,3.0,Y,23,8,0,28.0,2,10,1,6
22,53,No,Travel_Rarely,Research & Development,11,4,Life Sciences,1,23,Female,...,3.0,Y,11,8,0,21.0,2,5,1,3
23,42,No,Travel_Rarely,Research & Development,4,4,Life Sciences,1,24,Male,...,1.0,Y,14,8,0,NaN,4,20,11,6
24,29,No,Travel_Frequently,Research & Development,16,4,Medical,1,25,Male,...,1.0,Y,11,8,1,10.0,2,10,0,9
25,55,No,Travel_Rarely,Research & Development,1,4,Other,1,26,Female,...,3.0,Y,11,8,0,12.0,2,10,0,8
26,26,No,Travel_Frequently,Research & Development,9,3,Life Sciences,1,27,Female,...,1.0,Y,22,8,0,5.0,3,5,3,3
27,37,No,Travel_Rarely,Sales,5,1,Marketing,1,28,Male,...,1.0,Y,11,8,0,17.0,2,17,5,7
29,38,No,Travel_Rarely,Sales,2,3,Marketing,1,30,Female,...,9.0,Y,12,8,0,10.0,3,2,1,2
31,28,No,Travel_Rarely,Research & Development,7,3,Other,1,32,Male,...,1.0,Y,13,8,0,5.0,6,5,0,2
32,49,No,Travel_Frequently,Research & Development,1,1,Medical,1,33,Female,...,9.0,Y,13,8,0,22.0,2,3,1,2
33,36,No,Travel_Rarely,Sales,5,3,Technical Degree,1,34,Male,...,4.0,Y,14,8,0,10.0,2,8,7,7
34,31,No,Travel_Frequently,Research & Development,9,4,Medical,1,35,Male,...,1.0,Y,16,8,1,2.0,4,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375,38,No,Travel_Rarely,Research & Development,1,2,Medical,1,4376,Male,...,0.0,Y,12,8,0,17.0,4,16,5,13
4376,31,No,Non-Travel,Sales,4,1,Medical,1,4377,Female,...,0.0,Y,11,8,1,6.0,2,5,1,4
4377,59,No,Travel_Rarely,Research & Development,5,3,Life Sciences,1,4378,Female,...,3.0,Y,13,8,0,7.0,2,1,0,0
4378,37,No,Travel_Frequently,Sales,2,3,Marketing,1,4379,Female,...,4.0,Y,19,8,0,13.0,2,9,5,8
4379,29,No,Travel_Frequently,Sales,15,4,Medical,1,4380,Female,...,1.0,Y,19,8,3,11.0,4,11,4,1
4380,35,No,Travel_Frequently,Research & Development,19,3,Life Sciences,1,4381,Female,...,1.0,Y,13,8,0,10.0,6,10,0,8
4382,52,No,Travel_Rarely,Research & Development,1,2,Medical,1,4383,Female,...,7.0,Y,14,8,0,6.0,5,2,2,2
4383,42,No,Travel_Rarely,Research & Development,7,4,Life Sciences,1,4384,Female,...,1.0,Y,11,8,2,22.0,2,22,11,15
4384,59,No,Travel_Rarely,Research & Development,4,4,Technical Degree,1,4385,Male,...,8.0,Y,11,8,0,7.0,3,2,2,2
4385,50,No,Travel_Rarely,Research & Development,11,2,Life Sciences,1,4386,Male,...,3.0,Y,23,8,1,32.0,2,7,0,6
4387,43,No,Travel_Rarely,Sales,1,3,Marketing,1,4388,Female,...,5.0,Y,24,8,0,22.0,3,17,1,9
4389,52,No,Non-Travel,Research & Development,2,3,Technical Degree,1,4390,Male,...,1.0,Y,14,8,0,33.0,3,33,15,12
4390,32,No,Travel_Rarely,Human Resources,13,4,Life Sciences,1,4391,Female,...,2.0,Y,16,8,1,6.0,2,4,1,2
4392,39,No,Travel_Rarely,Sales,26,4,Life Sciences,1,4393,Male,...,7.0,Y,12,8,1,7.0,2,3,1,2
4393,32,No,Non-Travel,Sales,2,4,Marketing,1,4394,Male,...,0.0,Y,13,8,1,4.0,3,3,2,2
4394,41,No,Travel_Rarely,Sales,29,3,Life Sciences,1,4395,Female,...,2.0,Y,15,8,0,17.0,3,1,0,0
4395,40,No,Travel_Rarely,Research & Development,2,3,Life Sciences,1,4396,Male,...,NaN,Y,14,8,1,9.0,4,9,4,7
4396,45,No,Travel_Rarely,Research & Development,18,1,Life Sciences,1,4397,Female,...,0.0,Y,14,8,0,25.0,4,24,1,7
4397,31,No,Travel_Frequently,Research & Development,7,4,Medical,1,4398,Male,...,9.0,Y,14,8,1,9.0,3,2,2,2
4398,33,No,Travel_Rarely,Research & Development,2,4,Life Sciences,1,4399,Female,...,1.0,Y,12,8,1,2.0,2,2,0,2
4399,34,No,Travel_Rarely,Research & Development,26,3,Other,1,4400,Female,...,6.0,Y,13,8,0,13.0,3,11,5,9
4400,37,No,Travel_Rarely,Research & Development,22,5,Medical,1,4401,Female,...,2.0,Y,14,8,3,17.0,3,3,0,2
4401,45,No,Travel_Frequently,Sales,21,1,Marketing,1,4402,Male,...,4.0,Y,13,8,0,9.0,3,3,0,2
4403,39,No,Travel_Frequently,Research & Development,22,3,Medical,1,4404,Female,...,0.0,Y,19,8,1,20.0,2,19,11,8
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [24]:
Attrition_Yes = pd.DataFrame(yes)
Attrition_Yes

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
13,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
28,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
30,26,Yes,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2
35,26,Yes,Travel_Rarely,Research & Development,8,3,Medical,1,36,Male,...,1.0,Y,12,8,2,8.0,5,8,7,4
38,18,Yes,Travel_Rarely,Research & Development,1,4,Life Sciences,1,39,Male,...,1.0,Y,14,8,2,0.0,3,0,0,0
59,52,Yes,Travel_Rarely,Research & Development,7,1,Life Sciences,1,60,Female,...,2.0,Y,18,8,1,11.0,2,8,7,7
65,28,Yes,Travel_Rarely,Research & Development,9,4,Medical,1,66,Male,...,5.0,Y,14,8,1,5.0,4,3,2,2
69,39,Yes,Travel_Rarely,Research & Development,1,1,Medical,1,70,Female,...,4.0,Y,17,8,1,12.0,0,1,0,0
78,29,Yes,Travel_Rarely,Research & Development,29,3,Medical,1,79,Female,...,1.0,Y,13,8,1,7.0,0,7,0,7
99,21,Yes,Travel_Frequently,Research & Development,9,3,Medical,1,100,Female,...,1.0,Y,12,8,0,3.0,5,3,1,2
105,33,Yes,Travel_Rarely,Human Resources,28,2,Human Resources,1,106,Female,...,1.0,Y,21,8,1,1.0,3,1,0,0
108,41,Yes,Travel_Frequently,Research & Development,16,1,Medical,1,109,Female,...,1.0,Y,11,8,0,8.0,3,8,7,7
110,40,Yes,Travel_Rarely,Research & Development,8,3,Medical,1,111,Female,...,2.0,Y,20,8,0,8.0,2,6,1,0
112,21,Yes,Travel_Rarely,Human Resources,10,2,Human Resources,1,113,Male,...,1.0,Y,12,8,1,1.0,2,1,0,0
120,34,Yes,Non-Travel,Research & Development,7,3,Life Sciences,1,121,Male,...,8.0,Y,25,8,1,9.0,3,5,0,4
124,26,Yes,Travel_Frequently,Sales,14,3,Life Sciences,1,125,Male,...,0.0,Y,18,8,3,7.0,3,6,0,4
127,30,Yes,Travel_Frequently,Sales,3,2,Marketing,1,128,Male,...,9.0,Y,19,8,0,3.0,2,1,0,0
147,25,Yes,Travel_Rarely,Research & Development,5,2,Life Sciences,1,148,Female,...,5.0,Y,13,8,0,6.0,3,2,0,2
156,24,Yes,Travel_Rarely,Research & Development,27,2,Medical,1,157,Male,...,1.0,Y,17,8,1,6.0,0,5,1,4
157,34,Yes,Travel_Frequently,Research & Development,5,3,Medical,1,158,Male,...,0.0,Y,20,8,1,3.0,3,2,1,0
163,29,Yes,Travel_Rarely,Research & Development,19,4,Life Sciences,1,164,Male,...,5.0,Y,16,8,1,6.0,4,2,1,1
164,19,Yes,Travel_Rarely,Research & Development,4,3,Medical,1,165,Male,...,1.0,Y,15,8,2,1.0,2,1,0,0
177,33,Yes,Travel_Rarely,Research & Development,10,3,Life Sciences,1,178,Female,...,7.0,Y,22,8,0,15.0,2,7,7,7
178,33,Yes,Travel_Rarely,Sales,5,4,Marketing,1,179,Male,...,7.0,Y,25,8,0,8.0,5,4,1,3
181,31,Yes,Travel_Frequently,Research & Development,22,2,Medical,1,182,Female,...,3.0,Y,15,8,2,12.0,2,1,0,0
182,34,Yes,Travel_Frequently,Sales,17,1,Marketing,1,183,Male,...,9.0,Y,22,8,1,11.0,5,3,0,2
185,22,Yes,Travel_Frequently,Research & Development,7,3,Medical,1,186,Female,...,5.0,Y,13,8,2,4.0,2,2,1,2
195,26,Yes,Travel_Frequently,Research & Development,2,1,Life Sciences,1,196,Female,...,0.0,Y,12,8,0,8.0,3,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4202,48,Yes,Travel_Rarely,Research & Development,2,4,Technical Degree,1,4203,Female,...,9.0,Y,16,8,0,23.0,6,1,0,0
4203,28,Yes,Travel_Rarely,Research & Development,10,1,Medical,1,4204,Male,...,1.0,Y,22,8,1,2.0,3,2,2,2
4221,36,Yes,Travel_Rarely,Sales,7,2,Life Sciences,1,4222,Male,...,0.0,Y,18,8,3,2.0,2,1,0,0
4241,46,Yes,Travel_Rarely,Sales,1,2,Medical,1,4242,Female,...,1.0,Y,22,8,0,9.0,0,9,4,7
4252,37,Yes,Travel_Rarely,Human Resources,9,3,Human Resources,1,4253,Male,...,4.0,Y,17,8,0,7.0,4,3,0,2
4254,20,Yes,Travel_Frequently,Sales,4,4,Life Sciences,1,4255,Female,...,1.0,Y,22,8,0,1.0,3,1,1,0
4259,25,Yes,Travel_Rarely,Sales,10,1,Marketing,1,4260,Male,...,1.0,Y,13,8,0,6.0,6,6,0,3
4263,34,Yes,Travel_Frequently,Human Resources,4,4,Life Sciences,1,4264,Female,...,1.0,Y,15,8,0,9.0,3,9,0,6
4274,56,Yes,Travel_Rarely,Research & Development,15,3,Life Sciences,1,4275,Male,...,9.0,Y,19,8,0,7.0,1,5,4,3
4276,31,Yes,Travel_Rarely,Research & Development,2,4,Technical Degree,1,4277,Female,...,4.0,Y,20,8,0,12.0,2,7,7,7
4278,58,Yes,Travel_Rarely,Sales,2,2,Medical,1,4279,Female,...,1.0,Y,13,8,1,40.0,2,40,15,6
4279,19,Yes,Travel_Rarely,Research & Development,5,2,Life Sciences,1,4280,Male,...,1.0,Y,23,8,1,0.0,2,0,0,0
4284,31,Yes,Travel_Rarely,Research & Development,15,1,Medical,1,4285,Female,...,3.0,Y,22,8,0,4.0,2,2,2,2
4288,51,Yes,Travel_Frequently,Research & Development,6,3,Life Sciences,1,4289,Female,...,2.0,Y,11,8,0,18.0,2,4,0,3
4292,32,Yes,Travel_Rarely,Research & Development,2,4,Life Sciences,1,4293,Female,...,7.0,Y,15,8,0,10.0,0,5,0,4
4323,19,Yes,Travel_Frequently,Research & Development,10,2,Life Sciences,1,4324,Male,...,0.0,Y,22,8,1,1.0,4,0,0,0
4329,19,Yes,Travel_Rarely,Research & Development,8,2,Life Sciences,1,4330,Male,...,1.0,Y,21,8,0,1.0,2,1,1,0
4334,41,Yes,Travel_Rarely,Research & Development,18,4,Life Sciences,1,4335,Male,...,1.0,Y,24,8,1,4.0,1,4,0,2
4344,35,Yes,Travel_Rarely,Research & Development,2,4,Life Sciences,1,4345,Female,...,3.0,Y,12,8,0,8.0,3,1,0,1
4356,38,Yes,Travel_Rarely,Sales,6,4,Life Sciences,1,4357,Female,...,7.0,Y,15,8,0,17.0,3,1,0,0
4357,29,Yes,Travel_Rarely,Sales,10,2,Life Sciences,1,4358,Female,...,1.0,Y,19,8,2,10.0,2,10,1,9
4362,32,Yes,Travel_Rarely,Research & Development,5,3,Medical,1,4363,Male,...,1.0,Y,11,8,0,14.0,2,14,9,8
4366,30,Yes,Travel_Rarely,Research & Development,10,4,Life Sciences,1,4367,Female,...,5.0,Y,13,8,0,8.0,3,5,0,4
4368,30,Yes,Travel_Frequently,Sales,3,2,Medical,1,4369,Male,...,5.0,Y,14,8,0,9.0,2,6,0,1
4369,29,Yes,Travel_Rarely,Research & Development,2,3,Life Sciences,1,4370,Male,...,0.0,Y,13,8,0,7.0,3,6,1,5
4381,29,Yes,Travel_Rarely,Research & Development,7,1,Life Sciences,1,4382,Female,...,1.0,Y,21,8,0,4.0,2,4,0,1
4386,33,Yes,Travel_Rarely,Sales,11,4,Marketing,1,4387,Male,...,5.0,Y,21,8,0,8.0,2,5,0,4
4388,33,Yes,Travel_Rarely,Sales,1,3,Life Sciences,1,4389,Male,...,7.0,Y,11,8,0,13.0,2,9,1,7
4391,32,Yes,Travel_Rarely,Sales,23,1,Life Sciences,1,4392,Male,...,0.0,Y,11,8,0,4.0,2,3,1,2
4402,37,Yes,Travel_Frequently,Sales,2,3,Marketing,1,4403,Male,...,6.0,Y,11,8,1,17.0,2,1,0,0

ERROR! Session/line number was not unique in database. History logging moved to new session 503

In [25]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

# Attrition Vs Distance from Home

In [31]:
from scipy.stats import mannwhitneyu

In [32]:
stat, p=mannwhitneyu(Attrition_Yes.DistanceFromHome ,Attrition_No.DistanceFromHome)
print(stat, p)

1312110.0 0.4629185205822659

# Attrition Vs Income

In [33]:
stat, p=mannwhitneyu(Attrition_Yes.MonthlyIncome ,Attrition_No.MonthlyIncome)
print(stat, p)

1264900.5 0.053577283839938566

# Attrition Vs Total Working Years

In [34]:

stat, p=mannwhitneyu(Attrition_Yes.TotalWorkingYears ,Attrition_No.TotalWorkingYears)
print(stat, p)

909954.0 2.8897554531400447e-39

 # Attrition Vs Years at company

In [35]:
stat, p=mannwhitneyu(Attrition_Yes.YearsAtCompany ,Attrition_No.YearsAtCompany)
print(stat, p)

923238.0 6.047598261692858e-37

# Attrition Vs YearsWithCurrentManager

In [36]:
stat, p=mannwhitneyu(Attrition_Yes.YearsWithCurrManager ,Attrition_No.YearsWithCurrManager)
print(stat, p)

957253.5 1.2365483142169853e-31